:root {
  --header-color: #9227EC;
  --background-color: #F2F2F0;
  --card-background-color: #ffff;
  --button-background-color: #9227EC;
  --button-text-color: white;
  --redirect-color: #5780ED;
}

body {
  background-color: var(--background-color);
}

.card-custom {
  background-color: var(--card-background-color);
  border-radius: 1rem;
}

.card-header-custom {
  background-color: var(--header-color);
  color: white;
}

.btn-custom {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.btn-custom:hover {
  background-color: #4B108D;
  color: white;
}



.navbar {
  background-color: var(--header-color);

}

.redirect{
  color: var(--redirect-color);
}